In [3]:
import structures
import pandas as pd
import os
import numpy as np


Ttable = structures.TimeTable()
Ttable.load_years()

print(Ttable.all_classes())
print(Ttable.all_teachers())
print(Ttable.all_years())

Ttable.initial_2()
t = Ttable.get_tables()

['1', '2', '3', '4']
['Anna Pol', 'Adam Mat', 'Ewa Ang', 'Jerzy Rel']
['1a', '1b', '2a', '2b']

In [4]:
t[0]

,Day 1,Day 2,Day 3,Day 4,Day 5
0,"Pol 1a, Anna Pol, Sala nr 1","Pol 1a, Anna Pol, Sala nr 1","Mat 1a, Adam Mat, Sala nr 2",None,None
1,"Pol 1a, Anna Pol, Sala nr 1","Mat 1a, Adam Mat, Sala nr 2","Mat 1a, Adam Mat, Sala nr 2",None,None
2,"Pol 1a, Anna Pol, Sala nr 1","Mat 1a, Adam Mat, Sala nr 2","Ang 1a, Ewa Ang, Sala nr 3",None,None
3,"Pol 1a, Anna Pol, Sala nr 1","Mat 1a, Adam Mat, Sala nr 2","Ang 1a, Ewa Ang, Sala nr 3",None,None
4,"Pol 1a, Anna Pol, Sala nr 1","Mat 1a, Adam Mat, Sala nr 2","Rel 1a, Jerzy Rel, Sala nr 3",None,None
5,"Pol 1a, Anna Pol, Sala nr 1","Mat 1a, Adam Mat, Sala nr 2","Rel 1a, Jerzy Rel, Sala nr 3",None,None

In [5]:
t[1]

,Day 1,Day 2,Day 3,Day 4,Day 5
0,"Mat 1b, Adam Mat, Sala nr 2","Mat 1b, Adam Mat, Sala nr 2","Pol 1b, Anna Pol, Sala nr 1",None,None
1,"Mat 1b, Adam Mat, Sala nr 2","Pol 1b, Anna Pol, Sala nr 1","Pol 1b, Anna Pol, Sala nr 1",None,None
2,"Mat 1b, Adam Mat, Sala nr 2","Pol 1b, Anna Pol, Sala nr 1","Rel 1b, Jerzy Rel, Sala nr 4",None,None
3,"Mat 1b, Adam Mat, Sala nr 2","Pol 1b, Anna Pol, Sala nr 1","Rel 1b, Jerzy Rel, Sala nr 4",None,None
4,"Mat 1b, Adam Mat, Sala nr 2","Pol 1b, Anna Pol, Sala nr 1","Ang 1b, Ewa Ang, Sala nr 4",None,None
5,"Mat 1b, Adam Mat, Sala nr 2","Pol 1b, Anna Pol, Sala nr 1","Ang 1b, Ewa Ang, Sala nr 4",None,None

In [6]:
t[2]

,Day 1,Day 2,Day 3,Day 4,Day 5
0,"Ang 2a, Ewa Ang, Sala nr 3",None,None,"Pol 2a, Anna Pol, Sala nr 1","Mat 2a, Adam Mat, Sala nr 2"
1,"Ang 2a, Ewa Ang, Sala nr 3",None,None,"Pol 2a, Anna Pol, Sala nr 1","Mat 2a, Adam Mat, Sala nr 2"
2,"Rel 2a, Jerzy Rel, Sala nr 3",None,"Pol 2a, Anna Pol, Sala nr 1","Pol 2a, Anna Pol, Sala nr 1","Mat 2a, Adam Mat, Sala nr 2"
3,"Rel 2a, Jerzy Rel, Sala nr 3",None,"Pol 2a, Anna Pol, Sala nr 1","Pol 2a, Anna Pol, Sala nr 1","Mat 2a, Adam Mat, Sala nr 2"
4,None,None,"Pol 2a, Anna Pol, Sala nr 1","Mat 2a, Adam Mat, Sala nr 2","Mat 2a, Adam Mat, Sala nr 2"
5,None,None,"Pol 2a, Anna Pol, Sala nr 1","Mat 2a, Adam Mat, Sala nr 2","Mat 2a, Adam Mat, Sala nr 2"

In [7]:
t[3]

,Day 1,Day 2,Day 3,Day 4,Day 5
0,"Rel 2b, Jerzy Rel, Sala nr 4",None,None,"Mat 2b, Adam Mat, Sala nr 2","Pol 2b, Anna Pol, Sala nr 1"
1,"Rel 2b, Jerzy Rel, Sala nr 4",None,None,"Mat 2b, Adam Mat, Sala nr 2","Pol 2b, Anna Pol, Sala nr 1"
2,"Ang 2b, Ewa Ang, Sala nr 4",None,"Mat 2b, Adam Mat, Sala nr 2","Mat 2b, Adam Mat, Sala nr 2","Pol 2b, Anna Pol, Sala nr 1"
3,"Ang 2b, Ewa Ang, Sala nr 4",None,"Mat 2b, Adam Mat, Sala nr 2","Mat 2b, Adam Mat, Sala nr 2","Pol 2b, Anna Pol, Sala nr 1"
4,None,None,"Mat 2b, Adam Mat, Sala nr 2","Pol 2b, Anna Pol, Sala nr 1","Pol 2b, Anna Pol, Sala nr 1"
5,None,None,"Mat 2b, Adam Mat, Sala nr 2","Pol 2b, Anna Pol, Sala nr 1","Pol 2b, Anna Pol, Sala nr 1"